<!DOCTYPE html>
<html class="h-full">
<head>
    <title>{% block title %}{{ page.title }}{% endblock %} {{ site.title }} | {{ site.subtitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head_meta %}
    <meta name="robots" content="noindex, follow">
    {% endblock %}

    {% block head_styles %}
    {% endblock %}
    {% block head_scripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% endblock %}
</head>
<body class="antialiased flex flex-col h-full bg-stone-100">
{% block content_wrapper %}{% block content '' %}{% endblock content_wrapper %}

<footer class="w-full text-right border-t border-gray-400 p-3 pin-b mt-auto">
    <span>Copyright &copy; Whateverthing.com</span>
    <span class="pr-2 pl-2">/</span>
    <span class="opacity-50">Powered by <a href="https://sculpin.io">Sculpin</a></span>
</footer>

<script type="text/javascript" src="{{ site.url }}/assets/js/app.js"></script>

{% block scripts %}
{% endblock %}

{% block scripts_after %}
{% endblock %}
</body>
</html>
