{% extends 'default.html.twig' %}

{% block content_wrapper %}
    {% block jumbo_wrapper %}
        <header class="md:flex bg-sky-900 py-14 items-center">
            <div class="mt-4 md:mt-0 md:ml-20 md:w-1/3">
                <div class="uppercase tracking-wide text-2xl text-white font-bold">{{ site.title }}</div>
                <span class="block mt-1 text-xl leading-tight font-semibold text-sky-200 leading-relaxed">{{ page.product_lede }}</span>
                <hr>
                <p class="mt-2 text-lg text-gray-200 leading-snug">{{ page.product_blurb }}</p>
            </div>
            </div>
        </header>
    {% endblock jumbo_wrapper %}

    {% block content '' %}
{% endblock %}


